@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  color: #14213d;
}

h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 600;

  color: #343a40;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 840px) {
  .main-container {
    flex-direction: column;
    height: 100%;
  }
}

/* Left most */
.left-container__main {
  width: 100%;
  min-width: 38%;
  height: 100%;
  flex-grow: 2;
  background-image: url("https://image.freepik.com/free-photo/modern-living-room-interior-with-armchair-lamp-green-plants-dark-wall-background_41470-50.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

.left-container__main div {
  flex-grow: 1;
  height: 100%;

  min-width: 33.33%;
}

@media (max-width: 840px) {
  .left-container__main {
    flex-direction: column;
    min-height: 44vh;

    background-position: center;
  }

  .left-container__main div {
    flex-grow: 0;
  }
}

.left-container__main div:nth-child(1) {
  border-right: 1px solid rgba(189, 189, 189, 0.4);
}

.left-container__main div:nth-child(2) {
  border-right: 1px solid rgba(189, 189, 189, 0.4);
}

.logo-contauner__left {
  display: flex;
  justify-content: center;

  padding-top: 30px;
}

.logo-contauner__left h3 {
  display: inline;
  color: #fff;

  font-size: 22px;
  letter-spacing: 1px;

  margin: 0 1px;
}

.logo-contauner__left h3:nth-child(2) {
  color: #ffc107;
}

.text-container__left {
  padding-top: 120px;
}

.text-container__left div {
  background-color: #fff;

  width: 10%;
  height: 2px;
}

.text-container__left p {
  font-size: 11px;
  color: #e0e0e0;
  font-weight: 300;

  width: 96%;

  margin-top: 40px;
}

@media (max-width: 840px) {
  .text-container__left {
    padding-top: 20px;
    text-align: center;
  }

  .text-container__left div {
    margin: 0 auto;
  }

  .text-container__left p {
    width: 100%;
    padding: 0px 30px;
  }
}

.center-container__main {
  width: 100%;
  min-width: 38%;
  height: 100%;
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Right most */
.right-container__main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: #f5f5f5;

  display: flex;
  flex-direction: column;
}

/* Center-bar */
.menu-top__center {
  width: 100%;
  height: 100%;
  max-height: 90px;
  display: flex;
}

@media (max-width: 840px) {
  .menu-top__center {
    display: none;
  }
}

.menu-top__center div {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #343a40;
  font-weight: 500;
}

.menu-top__center div:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.body-outer__center {
  height: 100%;
  max-height: 70%;
}

.body-bottom__center {
  padding-left: 80px;
  padding-top: 20px;
}

@media (max-width: 840px) {
  .body-bottom__center {
    padding: 16px;
    text-align: center;
  }
}

.body-bottom__center h3:nth-child(1) {
  font-size: 56px;
}

.body-bottom__center h3:nth-child(2) {
  font-size: 48px;
  color: #101010;
  font-weight: 500;
}

.body-bottom__center h3:nth-child(3) {
  font-size: 42px;
  color: #b0bec5;
  font-weight: 400;
  line-height: 0.8;
}

@media (max-width: 840px) {
  .body-bottom__center h3:nth-child(1) {
    font-size: 40px;
  }

  .body-bottom__center h3:nth-child(2) {
    font-size: 36px;
  }

  .body-bottom__center h3:nth-child(3) {
    font-size: 32px;
  }
}

.body-divider__body {
  width: 10%;
  background-color: #343a40;
  height: 3px;
  margin: 40px 0;
}

.body-bottom__center p {
  width: 60%;
  font-size: 12px;
}

@media (max-width: 840px) {
  .body-divider__body {
    width: 20%;
    margin: 30px auto;
  }

  .body-bottom__center p {
    width: 100%;
    margin: 24px auto;
    padding: 0 30px;
  }
}

.explore-body-bottom__button {
  background-color: #ffa000;
  width: fit-content;
  margin: 40px auto;
  padding: 16px 48px;

  color: #fff;
  letter-spacing: 1px;
}

.explore-body-bottom__button:hover {
  background-color: #ffc107;
  cursor: pointer;
}

@media (max-width: 840px) {
  .explore-body-bottom__button {
    margin: 20px auto;
  }
}

/* Top-bar right */
.menu-top__right {
  width: 100%;
  height: 100%;
  max-height: 90px;
  display: flex;
}

@media (max-width: 840px) {
  .menu-top__right {
    display: none;
  }
}

.menu-top__right > div:nth-child(1) {
  flex-grow: 3;
  height: 100%;
  background-color: #e0e0e0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #343a40;
  font-weight: 500;
}

.menu-top__right > div:nth-child(1):hover {
  cursor: pointer;
  background-color: #fff;
}

.right-menu-bar {
  flex-grow: 1;
  height: 100%;
  background-color: #78909c;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-menu-bar:hover {
  background-color: #546e7a;
  cursor: pointer;
}

.right-menu-bar div {
  height: 4px;
  width: 36px;
  background-color: white;
  margin: 6px 0;
}

/* Center */
.main-centrer__right {
  flex-grow: 2;
  background-color: #f5f5f5;

  display: flex;
  flex-direction: column;
}

@media (max-width: 840px) {
  .main-centrer__right {
    margin-top: 20px;
  }
}

.top-header__main {
  width: 100%;
  height: 100%;
  max-height: 14%;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

.top-header__main h3 {
  width: 60%;
  margin-left: auto;
}



.top-header__main div {
  width: 60%;
  height: 4px;
  background-color: #6c757d;
  margin: 3px 0;

  margin-left: auto;
}

@media (max-width: 840px) {
  .top-header__main h3 {
    width: fit-content;
    font-size: 28px;
    margin: 0 auto;
  }

  .top-header__main div {
    margin: 8px auto;
    height: 3px;
    width: 16%;
  }
}

.main-body__main {
  flex-grow: 1;
  width: 100%;
  max-width: 74%;

  text-align: right;
}

.body-image__main {
  width: 100%;
  height: 100%;

  max-height: 40%;

  background-image: url("https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 16px 0;
}

@media (max-width: 840px) {
  .main-body__main {
    max-width: 100%;
    text-align: center;
  }

  .body-image__main {
    min-height: 34vh;
  }
}

.body-divider__main {
  width: 20%;
  height: 4px;
  background-color: #6c757d;

  margin: 22px 0;

  margin-left: auto;
}

@media (max-width: 840px) {
  .body-divider__main {
    display: none;
  }
}

.main-body__main p {
  font-size: 12px;
  width: 80%;
  margin-left: auto;

  font-weight: 500;
}

@media (max-width: 840px) {
  .main-body__main p {
    margin: 0 auto;
    width: 100%;

    padding: 10px 30px;
  }
}

/* End */
.menu-bottom__right {
  width: 100%;
  height: 100%;
  max-height: 70px;
  display: flex;
  background-color: #37474f;
}

@media (max-width: 840px) {
  .menu-bottom__right {
    display: none;
  }
}

.menu-bottom__right div {
  flex-grow: 1;
  width: 50%;
  display: flex;

  justify-content: center;
  align-items: center;

  color: white;
  letter-spacing: 1px;
}

.menu-bottom__right div:hover {
  background-color: #546e7a;
  cursor: pointer;
}
